
h1{
    text-align: center;
    background-color:green;

}


#points{
    visibility: hidden;
    background-color: burlywood;
    height:300px;
}
#points p{
    text-align: center;
    font-size: 40px;

}